.auth__form {
  padding: 40px;
  border-radius: 5px;
}

.auth__btn {
  font-weight: 600;
  width: 200px;
  height: 40px;
  color: rebeccapurple;
  background-color: red;
  border: none;
}

.auth__form p {
  margin-top: 30px;
}

.auth__form p a {
  color: rgba(238, 54, 183, 0.788);
}
